<footer class="footer">
  <%= image_tag('chumon.png', size: '160x75') %>
  <nav>
    <ul>
      <li><%= link_to "利用規約", agreement_path  %></li>
      <li><%= link_to "ヘルプ", help_path %></li>
    </ul>
  </nav>
</footer>
