<footer class="footer">
  <%= image_tag('chumon.png', size: '160x75') %>
  <nav>
    <ul>
      <li><%= link_to "利用規約", static_pages_agreement_path  %></li>
      <li><%= link_to "ヘルプ", static_pages_help_path %></li>
    </ul>
  </nav>
</footer>
